{% extends 'base.html' %}


{% block title %}
Анализатор страниц - {{ url[1] }}
{% endblock %}

{% block main %}
<h1>Сайт: {{ url[1] }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url[0]}}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url[1] }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url[2] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('add_check', id=url[0]) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>URL_ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% if checks%}
            {% for check in checks %}
            <tr>
                <td>{{check[0]}}</td>
                <td>{{check[1]}}</td>
                <td>{{check[2] if check[2] is not none}}</td>
                <td>{{check[3] if check[3] is not none}}</td>
                <td>{{check[4] if check[4] is not none}}</td>
                <td>{{check[5] if check[5] is not none}}</td>
                <td>{{check[6]}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
